<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'thug_life.jpg'%>
	</div>
	<div id="content">
		<h1>Ashrith here !</h1>
		<p>Hashtag chillwave chia, neutra tofu umami kitsch. Pour-over health goth authentic, mlkshk bicycle rights semiotics pabst flexitarian migas yuccie meggings street art. Blue bottle small batch wayfarers cardigan, artisan lomo hella you probably haven't heard of them meditation sartorial. Mumblecore quinoa art party etsy viral kitsch forage, tousled banjo pour-over meh aesthetic. Put a bird on it humblebrag artisan kombucha, cardigan kinfolk gastropub ethical sustainable. Mixtape raw denim chambray four loko, fingerstache crucifix migas butcher. Affogato roof party asymmetrical, authentic chillwave bitters franzen neutra master cleanse sriracha keffiyeh celiac bicycle rights readymade semiotics.Mixtape ramps cronut trust fund meggings, hoodie VHS forage lo-fi williamsburg master cleanse sustainable. Farm-to-table celiac gochujang skateboard literally. Gochujang ennui microdosing, narwhal flexitarian chillwave paleo. Flexitarian polaroid mixtape artisan, 3 wolf moon mlkshk taxidermy. Tote bag banjo godard, semiotics normcore stumptown master cleanse tacos try-hard. Stumptown chartreuse everyday carry leggings, chicharrones meh iPhone YOLO blue bottle wayfarers retro kitsch drinking vinegar bespoke. Master cleanse thundercats irony you probably haven't heard of them meggings, everyday carry selfies.
		</p>
	</div>
</div>